<ul class="nav nav-tabs">
    <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/facturas">Facturas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productos">Productos</a>
    </li>
    <li class="nav-item">

      <a class="nav-link" href="/clientes">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/usuarios">Usuarios</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/configuracion">Configuraci&oacute;n</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="LogOut()">Salir</a>
</li>
  </ul>