<div class="d-flex  justify-content-center align-items-center">
    <input type="text" class="form-control w-50" placeholder="Buscar factura"
        aria-label="Buscar factura">
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"># Factura</th>
            <th scope="col">Cliente</th>
            <th scope="col">Vendendor</th>
            <th scope="col">Estado Pago</th>
            <th scope="col">F. Creaci&oacute;n</th>
            <th scope="col">Total</th>
            <th scope="col">Acciones</th>
         
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of customers; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cliente.invoiceNumber}}</td>
            <td>{{ cliente.fullNameCustomer }}</td>
            <td>{{ cliente.fullNameUser }}</td>

            <td [ngClass]="cliente.statusPay === 'Pagado' ? 'text-success' : 'text-danger'">
                {{ cliente.statusPay }}
              </td>
            <td>{{ cliente.createAt | date: 'dd/MM/yyyy' }}</td>
            <td>{{ cliente.total | currency: 'USD' }}</td>
            <td>
                <button class="btn btn-danger mr" (click)="onClickDeleteInvoice(cliente)">Eliminar</button>
                <button class="btn btn-danger" (click)="onClickPdfInvoice(cliente)">Pdf</button>
            </td>
           
        </tr>

    </tbody>
</table>